@font-face {
  font-family: "TrajanPro";
  src: url(./../fonts/trajan-pro-cufonfonts-webfont/TrajanPro-Bold.woff)
    format(woff);
  font-weight: 700;
}

@font-face {
  font-family: "TrajanPro";
  src: url(./../fonts/trajan-pro-cufonfonts-webfont/TrajanPro-Regular.woff)
    format(woff);
  font-weight: 400;
}
