.main-header {
  display: flex;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  height: 5.5rem;
  border-radius: 5px;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: var(--site-main-color);
  color: var(--reverse-font-color);

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.ellipse-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--site-main-color);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}
.ellipse-wrapper > img {
  position: absolute;
  padding: 0.75rem 0.46rem;
}
