:root {
  --site-main-color: #65c466;
  --dark-font-color: #414141;
  --lighter-dark-font-color: #696969;
  --reverse-font-color: #ffffff;
  --footer-color: #243246;
  --site-main-color-opacity: #65C46699;
}
