:root {
  --site-main-color: #65c466;
  --dark-font-color: #414141;
  --lighter-dark-font-color: #696969;
  --reverse-font-color: #ffffff;
  --footer-color: #243246;
  --site-main-color-opacity: #65c46699;
  font-size: 13px;
}
* {
  box-sizing: border-box;
  
}
header,
.ask-question{
  margin-left: 1rem;
  margin-right: 1rem;
}


h2 {
padding-top: 2rem;
padding-bottom: 2rem;

  color: var(--site-main-color);

  font-family: "Trajan Pro 3";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.15rem;
}

p{
  font-family: 'Mulish';
  
}
